export AWS_DEFAULT_REGION="us-west-2"
export AWS_PROFILE="localstack"
export AWS_ACCESS_KEY_ID=${AWS_PROFILE}
export AWS_SECRET_ACCESS_KEY=${AWS_PROFILE}
export TF_VAR_aws_access_key=${AWS_PROFILE}
export TF_VAR_aws_secret_key=${AWS_PROFILE}
